/* Common */
    /* 
        - container 
        - opacity hover
        - section header
        - section padding 
        - hover effect 1 (left to right)
        - hover effect 2 (top to bottom)

        */
        
* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.ltr-effect , .ttb-effect {
    position: relative;
}

.ttb-effect::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: height .5s;
    -webkit-transition: height .5s;
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    background-color: rgb(30, 30, 30);
    z-index: -1;
}

.ttb-effect:hover::after {
    height: 100%;
}

.ltr-effect::after {
    content: "";
    position: absolute;
    width: 0;
    top: 0;
    right: 0;
    bottom:0;
    left:0;
    transition: width .5s;
    -webkit-transition: width .5s;
    -moz-transition: width .5s;
    -ms-transition: width .5s;
    -o-transition: width .5s;
    background-color: rgb(30, 30, 30);
    z-index: -1;
}

.ltr-effect:hover::after {
    width: 100%;
}

.py-y {
    padding:120px 0;
}

a {
    text-decoration: none;
}

:root {
    --color:#6195ff;
    --opacity:.8;
    --color-gray:#757575;
    --back-color:#f9f9f9;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*^* Start Header */

header {
    width: 100%;
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: rgba(0,0,0,.4);
}

header .container {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

header .container .home_header img{
    width: 120px;
}

header .container nav ul{
    list-style: none;
    display: flex;
}

header .container nav > ul > li > a {
    color: rgb(255, 255, 255);
    display: block;
    padding: 20px 15px;
    margin-left: 2px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    background-color: var(--color);
    text-align: center;
    left: -50%;
    top: 75%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s , visibility .5s;
    -webkit-transition: opacity .5s , visibility .5s;
    -moz-transition: opacity .5s , visibility .5s;
    -ms-transition: opacity .5s , visibility .5s;
    -o-transition: opacity .5s , visibility .5s;
}

.dropdown-menu a {
    color:#fff;
    display: block;
    padding: 15px;
    width:150px;
}

.dropdown:hover .dropdown-menu{
    visibility: visible;
    opacity: 1;
}

header .container nav > ul > li > a.active::after,
header .container nav>ul>li>a::after {
    content: "";
    display: block;
    height: 3px;
    background-color:var(--color);
    margin-top: 3px;
    transition: width .5s;
    -webkit-transition: width .5s;
    -moz-transition: width .5s;
    -ms-transition: width .5s;
    -o-transition: width .5s;
}

header .container nav>ul>li>a.active::after {
    width: 100%;
}

header .container nav>ul>li>a::after {
    width: 0;
}

header .container nav > ul > li > a:hover::after {
    width: 100%;
}
/*^* End Header */
/* ^*-------------------------- */
/* *************footer************* */
/*^* Start footer */
footer {
    background-color: #1a191b;
    height: 45vh;
    text-align: center;
}

footer .logo {
    color: white;
    margin-top: 60px;
    display: inline-block;
    font-size: 40px;
}

footer ul li {
    display: inline-block;
}

footer ul li a {
    color: #fff;
    background-color: var(--color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    margin: 45px 5px 35px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

footer ul li a:hover {
    background-color: #3577fc;
}

footer p{
    color: #757575;
    text-transform: uppercase;
}

footer p span {
    color: var(--color);
}
/*^* End footer */
